body {
  padding: 0;
  margin: 0;
  background: #222;
}

/*--- New report picker ---*/
.choose-form-button-contents {
  position: relative;
  top: 8px;
}

.choose-form-highlight-button {
  background: #d6d6d6 !important;
  /* color: #ffffff !important; */
}

/*--- Reports list ---*/

.filter-section-title {
  background-color: #ededed;
  text-align: center;
}
.filter-section-title > p {
  font-size: 16px;
}
.filter-update-btn {
  /*wip*/
}

/*--- Table data formatting (survey sheets) ---*/
.table > tbody > tr > td.center-td {
  vertical-align: middle;
}

.table > tbody > tr > td.bold-right-border,
.table > thead > tr > th.bold-right-border {
  border-right: 2px solid #c9c9c9;
}

.table > tbody > tr.bold-top-border {
  border-top: 2px solid #c9c9c9;
}

.table > tbody > tr > td.grey-td,
.table > thead > tr > th.grey-td {
  background-color: #f5f5f5;
  border-color: #d4d4d4;
}

table.table-dark-border {
  border: 2px solid #bfbfbf;
}

.survey-section-div {
  border-bottom: solid #36bae3 15px;
}

.survey-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px; /* or 950px */
}
