body {
  padding: 0;
  margin: 0;
  background: #222;
}

/*--- New report picker ---*/
.choose-form-button-contents {
  position: relative;
  top: 8px;
}

/*--- Reports list ---*/

.filter-section-title {
  background-color: #ededed;
  text-align: center;
}
.filter-update-btn {
  /*wip*/
}
